version: "3.9"
services:
  base:
    image: nginx-with-modsec-base
    build:
      dockerfile: ./docker/nginx-with-modsec-base/Dockerfile
  nginx-before-fix:
    image: nginx-before-fix
    build:
      dockerfile: ./docker/nginx-with-specific-modsec/Dockerfile
      args:
        - MODSEC_VERSION=3.0.6
    restart: always
    privileged: true
    ports:
      - "8081:80"
    volumes:
      - ./config/mount/nginx.conf:/etc/nginx/nginx.conf
      - ./config/mount/rules/:/etc/nginx/rules/
    depends_on:
      - base
  nginx-after-fix:
    image: nginx-after-fix
    build:
      dockerfile: ./docker/nginx-with-specific-modsec/Dockerfile
      args:
        - MODSEC_VERSION=3.0.7
    restart: always
    privileged: true
    ports:
      - "8082:80"
    volumes:
      - ./config/mount/nginx.conf:/etc/nginx/nginx.conf
      - ./config/mount/rules/:/etc/nginx/rules/
    depends_on:
      - base
  dangling-backend:
    image: codingpuss/long-api:0.0.1
    hostname: backend
    ports:
      - "8083:8181"
