version: "3.9"
services:
  kernel:
    image: nginx-with-compiled-kernel
    build:
      dockerfile: ./docker/nginx-with-compiled-kernel/Dockerfile
    depends_on:
      - base
  nginx-before-fix:
    image: nginx-profiling-before-fix
    build:
      args:
        - MODSEC_VERSION=3.0.6
        - BASE=nginx-with-compiled-kernel
    cap_add:
      - SYS_ADMIN
      - SYS_PTRACE
    depends_on:
      - kernel
  nginx-after-fix:
    image: nginx-profiling-after-fix
    build:
      dockerfile: ./docker/nginx-with-specific-modsec/Dockerfile
      args:
        - MODSEC_VERSION=3.0.7
        - BASE=nginx-with-compiled-kernel
    cap_add:
      - SYS_ADMIN
      - SYS_PTRACE
    depends_on:
      - kernel